*~
/rabbitmq-server-*.tar.gz
/rabbitmq-server-*.tar.xz
/rabbitmq-server_*.orig.tar.gz
/rabbitmq-server_*.orig.tar.gz.asc
/rabbitmq-server_*.orig.tar.xz
/rabbitmq-server_*.orig.tar.xz.asc
rabbitmq-server_4.3.3.orig.tar.xz
rabbitmq-server_4.3.3.orig.tar.xz.asc
rabbitmq-release-signing-key.asc
rabbitmq-server_4.3.4.orig.tar.xz
rabbitmq-server_4.3.4.orig.tar.xz.asc
