/trivy-0.50.0-vendor.tar.xz
/trivy-0.50.0.tar.gz
/trivy-0.50.1.tar.gz
/trivy-0.50.1-vendor.tar.xz
/trivy-0.50.2.tar.gz
/trivy-0.50.2-vendor.tar.xz
/trivy-0.50.4.tar.gz
/trivy-0.50.4-vendor.tar.xz
/trivy-0.53.0.tar.gz
/trivy-0.53.0-vendor.tar.xz
/trivy-0.54.1.tar.gz
/trivy-0.54.1-vendor.tar.xz
/trivy-0.55.2.tar.gz
/trivy-0.55.2-vendor.tar.xz
/trivy-0.58.1.tar.gz
/trivy-0.58.1-vendor.tar.xz
/trivy-0.59.1.tar.gz
/trivy-0.59.1-vendor.tar.xz
/trivy-0.60.0.tar.gz
/trivy-0.60.0-vendor.tar.xz
/trivy-0.63.0.tar.gz
/trivy-0.63.0-vendor.tar.xz
/trivy-0.64.1.tar.gz
/trivy-0.64.1-vendor.tar.xz
/trivy-0.67.2.tar.gz
/trivy-0.67.2-vendor.tar.xz
/trivy-0.69.3.tar.gz
/trivy-0.69.3-vendor.tar.bz2
/trivy-0.72.0.tar.gz
/trivy-0.72.0-vendor.tar.bz2
