# The mock configuration file for Hummingbird.
# Changes to this file will result in all RPMs being rebuilt.

config_opts['target_arch'] = '@ARCH@'
config_opts['legal_host_arches'] = ('@ARCH@',)

config_opts['root'] = 'local-{{ target_arch }}'

# NOTE: The prefetched RPMs repo doesn't include this. Should it?
# config_opts['chroot_setup_cmd'] = 'install @buildsys-build'
# NOTE: The buildsys repo we got from hermeto doesn't have the buildsys-build group defined. So
# we just expand the group into individual packages here.
config_opts['chroot_setup_cmd'] = 'install bash bzip2 coreutils cpio diffutils hummingbird-release findutils gawk glibc-minimal-langpack grep gzip info patch redhat-rpm-config rpm-build sed shadow-utils tar unzip util-linux which xz'

config_opts['dist'] = 'f43'  # only useful for --resultdir variable subst
config_opts['extra_chroot_dirs'] = [ '/run/lock', ]
config_opts['releasever'] = '43'

# https://fedoraproject.org/wiki/Changes/BuildWithDNF5
config_opts['package_manager'] = 'dnf5'

config_opts['bootstrap_image'] = 'registry.fedoraproject.org/fedora:43'
config_opts['bootstrap_image_ready'] = True

config_opts['description'] = 'Fedora 43'

config_opts['redhat_subscription_required'] = False

config_opts['dnf.conf'] = """
[main]
keepcache=1
system_cachedir=/var/cache/dnf
debuglevel=10
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=
install_weak_deps=0
metadata_expire=0
best=1
module_platform_id=platform:f{{ releasever }}
protected_packages=
user_agent={{ user_agent }}

# repos

[hummingbird]
name=hummingbird
baseurl=https://packages.redhat.com/api/pulp-content/public-hummingbird/@ARCH@/
enabled=1
sslverify=1
gpgcheck=0
priority=10
excludepkgs=gdb-*-17.1-1.hum1.*

[hummingbird-source]
name=hummingbird-source
baseurl=https://packages.redhat.com/api/pulp-content/public-hummingbird/source/
enabled=1
sslverify=1
gpgcheck=0
priority=10

# We don't import the full transitive set of BuildRequires, see "Scope" in
# ../README.md). The Fedora release needs to be a new enough release to satisfy
# most of our BuildRequires (to minimize hummingbird imports), but not so new
# to get builds against e.g. a newer glibc.
[fedora]
name=Fedora 43 - $basearch
baseurl=https://koji-s3-cache.hummingbird-project.io/download-ib01.fedoraproject.org/pub/fedora/linux/releases/43/Everything/$basearch/os/
enabled=1
priority=100
cost=2000

[fedora-updates]
name=Fedora 43 - $basearch - Updates
baseurl=https://koji-s3-cache.hummingbird-project.io/download-ib01.fedoraproject.org/pub/fedora/linux/updates/43/Everything/$basearch/
enabled=1
priority=100
cost=2000

# @LOCAL_RPMS_REPO@
"""
