# new release artifact
newrelease.conf
# fedpkg mockbuild artifact
*.src.rpm
/results_*
/kubernetes-3ddd0f4.tar.gz
/kubernetes-aef86a9.tar.gz
/kubernetes-95ee5ab.tar.gz
/kubernetes-a866cbe.tar.gz
/kubernetes-e4d4e1a.tar.gz
/kubernetes-5835544.tar.gz
/kubernetes-434bfd8.tar.gz
/kubernetes-872a965.tar.gz
/kubernetes-b46a3f8.tar.gz
/kubernetes-8f94681.tar.gz
/kubernetes-fc04e73.tar.gz
/kubernetes-9e64410.tar.gz
/kubernetes-1b4df30.tar.gz
/kubernetes-4c94112.tar.gz
/kubernetes-7f6f68f.tar.gz
/kubernetes-25b4e43.tar.gz
/kubernetes-fa3d799.tar.gz
/kubernetes-8dc49c4.tar.gz
/kubernetes-89a4ea3.tar.gz
/kubernetes-a8a1abc.tar.gz
/kubernetes-bae2c62.tar.gz
/kubernetes-506050d.tar.gz
/kubernetes-be3af46.tar.gz
/kubernetes-bc401b9.tar.gz
/kubernetes-1.29.1.tar.gz
/kubernetes-1.29.2.tar.gz
/kubernetes-1.31.0.tar.gz
/kubernetes-1.31.1.tar.gz
/kubernetes-1.31.2.tar.gz
/kubernetes-1.32.0-beta.0.tar.gz
/kubernetes-1.32.0-rc.0.tar.gz
/kubernetes-1.32.0-rc.1.tar.gz
/kubernetes-1.32.0-rc.2.tar.gz
/kubernetes-1.32.0.tar.gz
/kubernetes-1.32.1.tar.gz
/kubernetes-1.33.0.tar.gz
/kubernetes-1.33.1.tar.gz
/kubernetes-1.33.2.tar.gz
/kubernetes-1.33.2-vendor.tar.bz2
/kubernetes-1.33.3.tar.gz
/kubernetes-1.33.3-vendor.tar.bz2
/kubernetes-1.33.4-vendor.tar.bz2
/kubernetes-1.33.4.tar.gz
/kubernetes-1.34.0-vendor.tar.bz2
/kubernetes-1.34.0.tar.gz
/kubernetes-1.34.1.tar.gz
/kubernetes-1.34.1-vendor.tar.bz2
/kubernetes-1.35.0.tar.gz
/kubernetes-1.35.0-vendor.tar.bz2
/kubernetes-1.35.1.tar.gz
/kubernetes-1.35.1-vendor.tar.bz2
/kubernetes-1.35.2-vendor.tar.bz2
/kubernetes-1.35.2.tar.gz
/kubernetes-1.35.3-vendor.tar.bz2
/kubernetes-1.35.3.tar.gz
/kubernetes-1.35.4.tar.gz
/kubernetes-1.35.4-vendor.tar.bz2
/kubernetes-1.35.5-vendor.tar.bz2
/kubernetes-1.35.5.tar.gz
/kubernetes-1.35.6-vendor.tar.bz2
/kubernetes-1.35.6.tar.gz
/kubernetes-1.35.7-vendor.tar.bz2
/kubernetes-1.35.7.tar.gz
