{%- macro pipeline_run(rpm, event_type, cancel_in_progress, output_image_tag, build_platforms, extra_params={}, extra_annotations={}, extra_path_changes=[], timeout_hours=4, task_run_specs=None, forked_from=None) -%}
---
apiVersion: tekton.dev/v1
kind: PipelineRun
metadata:
  annotations:
    build.appstudio.openshift.io/repo: https://gitlab.com/redhat/hummingbird/rpms/-/tree/{{ "{{revision}}" }}
    build.appstudio.redhat.com/commit_sha: '{{ "{{revision}}" }}'
{%- for key, value in extra_annotations.items() %}
    {{ key }}: '{{ value }}'
{%- endfor %}
    build.appstudio.redhat.com/target_branch: '{{ "{{target_branch}}" }}'
    pipelinesascode.tekton.dev/on-target-branch: "[{{ branch }}]"
    pipelinesascode.tekton.dev/cancel-in-progress: "{{ cancel_in_progress }}"
    pipelinesascode.tekton.dev/max-keep-runs: "3"
    pipelinesascode.tekton.dev/on-event: "[{{ event_type }}]"
    pipelinesascode.tekton.dev/on-path-change: "[rpms/{{ rpm.dname }}/***{%- for path in extra_path_changes %}, {{ path }}{%- endfor %}]"
  creationTimestamp: null
  labels:
    appstudio.openshift.io/application: {{ application_name }}
    appstudio.openshift.io/component: {{ rpm.name }}
    pipelines.appstudio.openshift.io/type: build
  name: {{ rpm.name }}-on-{{ event_type.replace('_', '-') }}
  namespace: {{ tenant }}
spec:
  params:
    - name: git-url
      value: '{{ "{{source_url}}" }}'
    - name: revision
      value: '{{ "{{revision}}" }}'
{%- for name, value in extra_params.items() %}
    - name: {{ name }}
      value: "{{ value }}"
{%- endfor %}
    - name: ociStorage
      value: quay.io/redhat-user-workloads/{{ tenant }}/{{ rpm.name }}:{{ output_image_tag }}
    - name: package-name
      value: {{ rpm.package_name }}
    - name: target-branch
      value: '{{ "{{target_branch}}" }}'
    - name: build-architectures
      value:
        - aarch64
        - x86_64
    - name: build-platforms
      value:
{%- for platform in build_platforms %}
        - "{{ platform }}"
{%- endfor %}
    - name: specfile
      value: "{{ rpm.specfile }}"
    - name: monorepo-subdir
      value: "rpms/{{ rpm.dname }}"
    - name: mock-config-template-filename-in-sources
      value: "mock/mock.cfg"
{%- if forked_from %}
    - name: dist-git-client-configdir
      value: "mock/"
    - name: forked-from
      value: "{{ forked_from }}"
{%- endif %}
  pipelineRef:
    resolver: bundles
    params:
      - name: name
        value: build-rpm-package
      - name: kind
        value: pipeline
      - name: bundle
        # renovate: datasource=docker depName=quay.io/hummingbird-ci/rpmbuild-pipeline
        value: "{{ pipeline_bundle }}"
{{- task_run_specs_block(task_run_specs) }}
  taskRunTemplate:
    serviceAccountName: build-pipeline-{{ rpm.name }}
  timeouts:
    pipeline: {{ timeout_hours }}h
    tasks: {{ timeout_hours }}h
  workspaces:
    - name: git-auth
      secret:
        secretName: '{{ "{{git_auth_secret}}" }}'
{%- endmacro -%}
