/syft-*.tar.gz
/syft-*.tar.bz2
syft-1.42.3.tar.gz
syft-1.42.3-vendor.tar.bz2
syft-1.42.4.tar.gz
syft-1.42.4-vendor.tar.bz2
syft-1.43.0.tar.gz
syft-1.43.0-vendor.tar.bz2
syft-1.44.0.tar.gz
syft-1.44.0-vendor.tar.bz2
