/NotoFonts-hinted-2013-04-11.tgz
/NotoFonts-hinted-2013-06-24.tgz
/NotoFonts-hinted-2013-08-07.tgz
/NotoFonts-unhinted-2013-08-07.tgz
/396bf23e32cf53820681144e109270ae1f4ee7c3.zip
/noto-aae16d0cd626.zip
/noto-762640379a51.zip
/noto-d47480343178.zip
/v2015-09-29-license-adobe.zip
/noto-fonts-86b2e553c3e3e4d6614dadd1fa0a7a6dafd74552.zip
/noto-fonts-db5c897c3954ab8dd49bfc3de4f3ef00a7ef6d06.zip
/noto-fonts-85e78f831469323c85847e23f95026c894159135.zip
/noto-fonts-a5e21f60336d8b9b76a0f230d07dd59e12d6da80.zip
/noto-fonts-20201206-phase3.tar.gz
/debug-*.sh
/noto-fonts-*/
/noto-fonts-0c78c8329.tar.xz
/NotoSansSinhala-v2.006.zip
/noto-monthly-release-23.2.1.zip
/noto-monthly-release-23.5.1.zip
/noto-monthly-release-23.6.1.zip
/noto-monthly-release-23.8.1.zip
/noto-monthly-release-23.12.1.zip
/noto-monthly-release-24.1.1.zip
/noto-monthly-release-24.2.1.zip
/noto-monthly-release-24.3.1.zip
/noto-monthly-release-24.4.1.zip
/noto-monthly-release-24.6.1.zip
/noto-monthly-release-24.7.1.zip
/noto-monthly-release-24.8.1.zip
/noto-monthly-release-24.9.1.zip
/noto-monthly-release-2025.01.01.zip
/noto-monthly-release-2025.02.01.zip
/noto-monthly-release-2025.03.01.zip
/noto-monthly-release-2025.04.01.zip
/noto-monthly-release-2025.05.01.zip
/noto-monthly-release-2025.07.01.zip
/noto-monthly-release-2025.08.01.zip
/noto-monthly-release-2025.09.01.zip
/noto-monthly-release-2025.10.01.zip
/noto-monthly-release-2025.11.01.zip
/noto-monthly-release-2025.12.01.zip
/noto-monthly-release-2026.02.01.zip
/noto-monthly-release-2026.04.01.zip
/noto-monthly-release-2026.05.01.zip
/noto-monthly-release-2026.06.01.zip
