clog
TODO
*.md
/php-8.3.*.tar.xz
/php-8.3.*.tar.xz.asc
/php-8.4.*.tar.xz
/php-8.4.*.tar.xz.asc
/php-8.5.0RC2.tar.xz
/php-8.5.0RC2.tar.xz.asc
/php-8.5.0RC3.tar.xz
/php-8.5.0RC3.tar.xz.asc
/php-8.5.0RC4.tar.xz
/php-8.5.0RC4.tar.xz.asc
/php-8.5.0RC5.tar.xz
/php-8.5.0RC5.tar.xz.asc
/php-8.5.0.tar.xz
/php-8.5.0.tar.xz.asc
/php-8.5.1RC1.tar.xz
/php-8.5.1RC1.tar.xz.asc
/php-8.5.1RC2.tar.xz
/php-8.5.1RC2.tar.xz.asc
/php-8.5.1.tar.xz
/php-8.5.1.tar.xz.asc
/php-8.5.2RC1.tar.xz
/php-8.5.2RC1.tar.xz.asc
/php-8.5.2.tar.xz
/php-8.5.2.tar.xz.asc
/php-8.5.3RC1.tar.xz
/php-8.5.3RC1.tar.xz.asc
/php-8.5.3.tar.xz
/php-8.5.3.tar.xz.asc
/php-8.5.4RC1.tar.xz
/php-8.5.4RC1.tar.xz.asc
/php-8.5.4.tar.xz
/php-8.5.4.tar.xz.asc
/php-8.5.5RC1.tar.xz
/php-8.5.5RC1.tar.xz.asc
/php-8.5.5.tar.xz
/php-8.5.5.tar.xz.asc
/php-8.5.6RC1.tar.xz
/php-8.5.6RC1.tar.xz.asc
/php-8.5.6RC2.tar.xz
/php-8.5.6RC2.tar.xz.asc
/php-8.5.6RC3.tar.xz
/php-8.5.6RC3.tar.xz.asc
/php-8.5.6.tar.xz
/php-8.5.6.tar.xz.asc
/php-8.5.7RC1.tar.xz
/php-8.5.7RC1.tar.xz.asc
/php-8.5.7RC2.tar.xz
/php-8.5.7RC2.tar.xz.asc
/php-8.5.7.tar.xz
/php-8.5.7.tar.xz.asc
/php-8.5.8RC1.tar.xz
/php-8.5.8RC1.tar.xz.asc
/php-8.5.8.tar.xz
/php-8.5.8.tar.xz.asc
