*.src.rpm
/rdma-core-12.tgz
/rdma-core-12.tar.gz
/rdma-core-14.tar.gz
/rdma-core-16.2.tar.gz
/rdma-core-20.1.tar.gz
/rdma-core-26.1.tar.gz
/rdma-core-27.0.tar.gz
/rdma-core-28.0.tar.gz
/rdma-core-29.0.tar.gz
/rdma-core-30.0.tar.gz
/rdma-core-31.0.tar.gz
/rdma-core-33.0.tar.gz
/rdma-core-34.0.tar.gz
/rdma-core-35.0.tar.gz
/rdma-core-36.0.tar.gz
/rdma-core-37.0.tar.gz
/rdma-core-38.0.tar.gz
/rdma-core-38.1.tar.gz
/rdma-core-39.0.tar.gz
/rdma-core-41.0.tar.gz
/rdma-core-44.0.tar.gz
/rdma-core-45.0.tar.gz
/rdma-core-46.0.tar.gz
/rdma-core-48.0.tar.gz
/rdma-core-50.0.tar.gz
/rdma-core-51.0.tar.gz
/rdma-core-54.0.tar.gz
/rdma-core-55.0.tar.gz
/rdma-core-56.0.tar.gz
/rdma-core-57.0.tar.gz
/rdma-core-58.0.tar.gz
/rdma-core-59.0.tar.gz
/rdma-core-60.0.tar.gz
/rdma-core-61.0.tar.gz
/rdma-core-62.0.tar.gz
/rdma-core-63.0.tar.gz
