{%- for rpm in rpms -%}
{%- if rpm.imported %}
---
# --- {{ rpm.dname }} ---
{{ pipeline_run(
    rpm=rpm,
    event_type='push',
    cancel_in_progress='false',
    output_image_tag='{{revision}}',
    build_platforms=rpm.build_platforms,
    extra_params=rpm.extra_params if rpm.extra_params is defined else {},
    extra_path_changes=rpm.extra_path_changes if rpm.extra_path_changes is defined else [],
    timeout_hours=rpm.timeout_hours,
    task_run_specs=rpm.task_run_specs if rpm.task_run_specs is defined else None,
    forked_from=rpm.forked_from if rpm.forked_from is defined else None,
    lookaside_cache_url=rpm.lookaside_cache_url if rpm.lookaside_cache_url is defined else None,
) -}}
{%- else %}
# --- {{ rpm.dname }} ---
# PENDING
{%- endif %}
{% endfor -%}