[Unit]
Description=NATS Server
Documentation=https://docs.nats.io
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=nats
Group=nats
ExecStart=/usr/bin/nats-server --config /etc/nats-server/nats-server.conf
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=30s
Restart=on-failure
LimitNOFILE=65536
PrivateTmp=true
ProtectHome=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
