/p11-kit-*.tar.gz
/.*.log
/*.src.rpm
/p11-kit-0.*/
/x86_64/
/trust-extract-compat
/p11-kit-0.23.9.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.9.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.10.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.12.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.14.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.15.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.16.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.16.1.tar.gz
/p11-kit-client.service
/trust-extract-compat
/p11-kit-0.23.18.1.tar.gz
/p11-kit-0.23.19.tar.xz
/p11-kit-0.23.19.tar.xz.sig
/p11-kit-0.23.20.tar.xz
/p11-kit-0.23.21.tar.xz
/p11-kit-0.23.22.tar.xz
/p11-kit-0.24.1.tar.xz
/p11-kit-0.25.0.tar.xz
/p11-kit-0.25.0.tar.xz.sig
/p11-kit-release-keyring.gpg
/p11-kit-0.25.1.tar.xz
/p11-kit-0.25.1.tar.xz.sig
/p11-kit-0.25.2.tar.xz
/p11-kit-0.25.2.tar.xz.sig
/p11-kit-0.25.3.tar.xz
/p11-kit-0.25.3.tar.xz.sig
/p11-kit-0.25.5.tar.xz
/p11-kit-0.25.5.tar.xz.sig
/p11-kit-0.25.6.tar.xz
/p11-kit-0.25.6.tar.xz.sig
/p11-kit-0.25.8.tar.xz
/p11-kit-0.25.8.tar.xz.sig
/p11-kit-0.26.2.tar.xz
/p11-kit-0.26.2.tar.xz.sig
/p11-kit-0.26.4.tar.xz
/p11-kit-0.26.4.tar.xz.sig
/p11-kit-0.26.5.tar.xz
/p11-kit-0.26.5.tar.xz.sig
